@font-face {
    font-family: Permanent;
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
    font-weight: normal;
}
body {
    font-family: Permanent;
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: orange;
    font-size: 60px;
}
.first {
    font-weight: bold;
}
.firstpar {
    color: blue;
    text-align: justify;
    text-align-last: center;
    font-size: 30px;
    margin-top: 150px;
}
a {
    color: orange;
    text-decoration: none;
}
header {
    height: 100px;
    width: 100%;
}
nav {
    color: beige;
    font-size: 50px;
    display: flex;
    margin: 2%;
}
.atag {
    text-align: right;
    width: 25%;
    margin-left: 20%;
}
.button {
    width: 10%;
    margin-left: 35%;
}
